/* 
 .bu{
   font-size: 36px;
    color: #bdbdff;
    font-weight: 300;
    cursor: default;
    margin: 0;
    width: 100% !important;
 } */
 
 .form-container{
   position: absolute;
   top: 17%;
    min-height: 50%;
    min-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding:20px;
    padding-bottom: 0px;
    z-index: 2;
    
 }
 .form-container-bg{
   background-color: #4c4c78;
   border-radius: 20px;
   padding: 2% 5% 5% 5%;
   
 }
 
 .form-container form{
    padding:20px;
    border-radius: 20px;
    /*box-shadow: 0 6px 30px rgba(148, 51, 205, 0.653);*/
    background: #27273d;
    text-align: center;
    width: 45%;
 }
 
 
 .form-container form h3{
    font-size: 30px;
    text-transform: uppercase;
    margin-bottom: 10px;
    color:#b3b3fe;
 }
 
 .form-container form input,
 .form-container form select{
    width: 100%;
    padding:10px 15px;
    font-size: 17px;
    margin:8px 0;
    background: #babad8;
    border-radius: 5px;
 }
 
 .form-container form select option{
    background: #010104;
 }
 
 .form-container form .form-btn{
    background: #adadd2;
    color:#282830;
    text-transform: capitalize;
    font-size: 20px;
    cursor: pointer;

 }
 
 .form-container form .form-btn:hover{
    background: #505087;
    color:#010104;
 }
 
 .form-container form p{
    margin-top: 10px;
    font-size: 20px;
    color:#b3b3fe;
 }
 
 .form-container form p a{
    color:rgb(221, 34, 221);
 }
 
 .form-container form .error-msg{
    margin:10px 0;
    display: block;
    background: crimson;
    color:#010104;
    border-radius: 5px;
    font-size: 20px;
    padding:10px;
 }
 


 